{% extends "base.html" %}
{% load static %}
{% block content %}
<script src="{% static 'tasks/tasks.js' %}"></script>
<section class="text-gray-600 body-font overflow-hidden m-6">
  <h1 class="text-5xl font-bold text-center p-6">Task manager</h1>
  <div class="container px-5 py-24 mx-auto">
    <form onchange="submit()" class="flex justify-end" action="{% url 'tasks:csv'%}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <label class="rounded shadow-md bg-cyan-500 px-4 py-2 text-white z-10 cursor-pointer hover:bg-cyan-700 ease-in-out duration-200" for="upload-csv">
        UPLOAD CSV
      </label>
      <input class="opacity-0 absolute -z-1" name="upload-csv" type="file" id="upload-csv" accept=".csv">
    </form>
    <div class="flex flex-col">
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <table class="min-w-full">
              <thead class="border-b text-sm font-medium text-gray-700 text-left">
                <tr>
                  <th scope="col" class="px-6 py-4">
                    CREATED BY
                  </th>
                  <th scope="col" class="px-6 py-4">
                    EMAIL
                  </th>
                  <th scope="col" class="px-6 py-4">
                    TASK DATE
                  </th>
                  <th scope="col" class="px-6 py-4">
                    TASK DESCRIPTION
                  </th>
                  <th scope="col" class="px-6 py-4">
                    COMPANY NAME
                  </th>
                  <th scope="col" class="px-6 py-4">
                    TASK STATUS
                  </th>
                </tr>
              </thead>
              <tbody>
              {% for task in tasks %}
              <tr class="bg-white border-b">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  {{task.created_by}}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{task.email}}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{task.completed_by|date:'Y-m-d'}}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{task.description}}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{task.company}}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{task.status}}
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
