{% extends "base.html" %}
{% load static %}
{% block content %}
<script src="{% static 'tasks/tasks.js' %}"></script>
<section class="text-gray-600 body-font overflow-hidden m-8">
  <div class="container py-8 mx-auto">
  <div class="flex flex-wrap items-center shadow-md -mt-2">
    <div class="w-1/2">
      <h1 class="font-bold text-3xl">Task Manager</h1>
    </div>
    <form onchange="submit()" class="w-1/2 flex justify-end" action="{% url 'tasks:csv'%}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <label class="rounded shadow-md bg-cyan-500 m-4 px-4 py-2 text-white z-10 cursor-pointer hover:bg-cyan-700 ease-in-out duration-200" for="upload-csv">
        UPLOAD CSV
      </label>
      <input class="opacity-0 absolute -z-1" name="upload-csv" type="file" id="upload-csv" accept=".csv">
    </form>
  </div>
    <div class="flex flex-col mt-2">
      <div class="shadow overflow-auto h-[550px]">
        <div class="py-2 inline-block min-w-full px-8">
          <div class="overflow-hidden">
            <table class="table-fixed min-w-full">
              <thead class="border-b text-sm font-medium text-gray-700 text-left">
                <tr>
                  <th scope="col" class="px-6 py-4">
                    CREATED BY
                  </th>
                  <th scope="col" class="px-6 py-4">
                    EMAIL
                  </th>
                  <th scope="col" class="px-6 py-4">
                    TASK DATE
                  </th>
                  <th scope="col" class="px-6 py-4">
                    TASK DESCRIPTION
                  </th>
                  <th scope="col" class="px-6 py-4">
                    COMPANY NAME
                  </th>
                  <th scope="col" class="px-6 py-4">
                    TASK STATUS
                  </th>
                </tr>
              </thead>
              <tbody>
              {% for task in tasks %}
              <tr class="bg-white border-b">
                <td class="px-6 py-4 text-sm font-medium text-gray-900">
                  {{task.created_by}}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4">
                  {{task.email}}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4">
                  {{task.completed_by|date:'Y-m-d'}}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 w-30">
                  {{task.description}}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4">
                  {{task.company}}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4">
                  {{task.status}}
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
